<svg class="legend">
  <rect class="day q2-11" width="17" height="17" x="0" y="0"></rect>
  <text x="20" y="15" fill="grey">Terrible</text>
  
  <rect class="day q4-11" width="17" height="17" x="0" y="20"></rect>

  <rect class="day q6-11" width="17" height="17" x="0" y="40"></rect>
  <text x="20" y="55" fill="grey">Ok</text>

  <rect class="day q8-11" width="17" height="17" x="0" y="60"></rect>

  <rect class="day q10-11" width="17" height="17" x="0" y="80"></rect>
  <text x="20" y="95" fill="grey">Awesome</text>
</svg>